.tab {
    &-item {
        background: transparent;
        border: none;
        padding: 14px 20px;
        cursor: pointer;
        border-bottom: 4px solid transparent;

        transition: color .1s ease-in, border-bottom .2s ease-in-out;

        &:hover {
            color: #83a515;
        }

        &:focus {
            outline: none;
        }

        &.active {
            color: #83A515;
            border-bottom: 4px solid #83A515;
        }
    }
}
