@import './variables';

body {
    color: $text-secondary;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    color: $text-primary;

    @media screen and (max-width: $tab-break-point) {
        font-size: 36px;
    }

}

.primary-action {
    font-size: 16px;
    font-weight: bold;
    color: $theme-primary;
    padding: 10px 15px;
    border: 2px solid;
    background: transparent;
    text-transform: capitalize;
    cursor: pointer;

    &:hover, &:focus {
        background-color: $theme-primary;
        color: $white;
    }
}

a {
    &:focus {
        outline: 1px solid $white;
    }
}
