$tab-break-point: 780px;


$white: #ffffff;

$header-background: #1f2640;
$text-light: #7788A3;
$text-primary: #2b416c;
$text-secondary: #556789;

$theme-primary: #181b34;
$theme-focus: #eeeeee;

$tab-active: #83a515;
