@import '../../styles/variables';

.list {
    &-wrap {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 50px;
        min-height: calc(100vh - 340px);
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 2fr;
        position: relative;

        @media screen and (max-width: $tab-break-point) {
            // grid-template-columns: 1fr;
            display: flex;
            flex-direction: column;
            padding: 10px 0;
        }

        &:hover {
            background-color: #f1f1f45e;
        }

        &:not(:last-child) {
            &:after {
                content: '';
                position: absolute;
                background: #ececec;
                left: 15px;
                right: 20px;
                bottom: 0;
                height: 1px;
            }

        }

        &.head {
            padding: 0;
            background-color: #f1f1f4;

            @media screen and (max-width: $tab-break-point) {
                display: none;
            }

            .list-col {
                padding: 10px 15px;
            }
        }

    }

    &-col {
        text-transform: uppercase;
        padding: 20px 15px;
        margin: 0;

        @media screen and (max-width: $tab-break-point) {
            padding: 10px 15px;
        }

    }

    &-null {
        text-align: center;
        padding: 40px 20px;
        font-size: 20px;
        font-weight: 100;
    }
}
