header {
    background-color: #1F2640;
    padding: 10px 0;
}

.header {
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.content {
    max-width: 1080px;
    margin: auto;
    padding: 0 15px;
}

.logo {
    max-width: 130px;
}

img {
    max-width: 100%;
}
