.header {
    background-color: #1f2640;
    padding: 10px 0;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


.logo {
    max-width: 130px;

    img {
        max-width: 100%;
    }
}
