@import '../../styles/variables';

.mr-1 {
  @media screen and (max-width: $tab-break-point) {
    order: -1;
  }
}

.action {
  &-group {
    align-items: baseline;

    @media screen and (max-width: $tab-break-point) {
      padding: 0 10px;
      margin: auto;
    }
  }
}
